.header-top p i{color:#fa2964;}
.header-top .social-icons i:hover{color:#fa2964;}
.middle-header-top .middle-info .logo:after{border-right:10px solid #fa2964;}
.middle-header-top .middle-info p{border-right:1px solid #fa2964;}
.middle-header-top .middle-info p i{color:#fa2964;}
.heading{color:rgba(32, 51, 100, 0.9);border-top:1px solid rgba(32, 51, 100, 0.9);border-bottom:1px solid rgba(32, 51, 100, 0.9);}
.button-menu{color:#fa2964;}
.search-button{color:#fa2964 !important;}
.get-quote{background:#fa2964;}
#main-menu ul li a.active,
#main-menu ul li a:hover{background:linear-gradient(rgba(32, 51, 100, 0.9), rgba(32, 51, 100, 0.9)) no-repeat center center;color:#fff;}
#main-menu .dropdown-menu a:hover{background:rgba(32, 51, 100, 0.9);}
.bloq-search input[type="text"]{border:1px solid #fa2964;}
.bloq-search input[type="submit"]{background:#fa2964;}
#main-menu ul a:hover,
#main-menu ul li.active a{color:#fa2964;}
.tp-leftarrow:hover{background:linear-gradient(rgba(32, 51, 100, 0.9), rgba(32, 51, 100, 0.9)) no-repeat;}
.tp-rightarrow:hover{background:linear-gradient(rgba(32, 51, 100, 0.9), rgba(32, 51, 100, 0.9)) no-repeat;}
.bg-1{background:rgba(32, 51, 100, 0.9);}
.bg-2 .button{border-color:#fa2964;}
.bg-3 .button{color:#fa2964;border-color:#fa2964;}
.bg-3 .button:hover{border-color:#fa2964;}
.button--wayra.button--inverted:hover{border-color:rgba(32, 51, 100, 0.9);}
.button--wayra:hover::before{background-color:rgba(32, 51, 100, 0.9);}
.button--wayra.button--inverted:hover::before{background-color:rgba(32, 51, 100, 0.9);}
.info-about .fa{color:#fa2964;}
.info-about .fa:hover{background:#fa2964;}
.info-about .cel-1{background:#fa2964;}
.info-about .cel-2{background:#fa2964;}
.info-about .cel-3{background:#fa2964;}
.info-about .cel-4{background:#fa2964;}
.choosing{background:#f9f9f9;}
.choosing .why-do a:hover{color:#fa2964;}
.hovblue figure{background:#fa2964;}
.offer-details .btn.rdmorebtn:hover{background:#000;transition:all 0.4s ease-in-out 0s;}
.offer-inner{position:relative;overflow:hidden;margin-bottom:00px;}
.offer-details{background:linear-gradient(rgba(32, 51, 100, 0.9), rgba(32, 51, 100, 0.9)) no-repeat center center;color:#fff;}
.serv-flex{color:#fa2964;}
.counterup .title-icon:before{background:#fa2964;}
.counterup .title-icon:after{background:#fa2964;}
.counterup .title-style h2,
.counterup .title-style p{color:#fa2964;}
.counterup .countr .fa{border:4px solid #fa2964;}
.counterup .title-style span{color:#fff;}
.counterup .countr p{color:#fa2964;}
.portfolio .filters-group ul li:hover{background:#fa2964;}
.portfolio .filters-group .active{background:#fa2964;}
.single-portfolio .img-poppu:hover:before,
.single-portfolio .img-poppu:hover:after{background:#fa2964;}
.single-portfolio .portfolio-img::before{background:#fa2964 none repeat scroll 0 0;}
.team-content{background:#fa2964;}
.team-info{background:#fa2964;}
.team-content span a:hover{color:#fa2964;}
.request .btn{background:#fa2964;}
.request .contact-form input[type="text"]:focus,
.request .contact-form input[type="email"]:focus,
.request .contact-form textarea:focus{border-color:#fa2964;}
.request h3::after,
.report h2::after{background-color:#fa2964;}
.call-info h3::after{background-color:#fa2964;}
.testimonials .test-1 p::before{color:rgba(32, 51, 100, 0.9);}
.testimonials .test-1 p::after{color:rgba(32, 51, 100, 0.9);}
.testimonials .test-1 h3{color:#fa2964;}
.owl-dot.active{background:#fa2964;}
.single-blog-post .img-box .overlay{background:rgba(250, 41, 100, 0.8);}
.blog .blog-info{border-bottom:3px solid #fa2964;}
.blog-pots figure{background:#fa2964;}
.blog .blog-pots .fa{color:#fa2964;}
.btn-secondary{background:#fa2964;}
.first-footer .netabout h3::after{background-color:#fa2964;}
.first-footer .contactus h3::after{background-color:#fa2964;}
.first-footer .widget h3::after{background-color:#fa2964;}
.first-footer .newsletters h3::after{background-color:#fa2964;}
.first-footer .email input[type="submit"]:hover{background:#fa2964;}
.go-up{background:#fa2964;}
div.partners,
div.partners-1{background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)no-repeat center center;color:#fff;}
.section-title .title-style h2{color:rgba(32, 51, 100, 0.9);}
.title-icon:before{background:rgba(32, 51, 100, 0.9);}
.title-icon:after{background:rgba(32, 51, 100, 0.9);}
.title-icon i{color:rgba(32, 51, 100, 0.9);}
.inner-pages .who-we-are .who-1 h2 span{color:#111;font-weight:400;}
.team-info{background:#fa2964 !important;}
.inner-pages .panel .panel-heading a{background:#fa2964;}
.pricing .tables .price-head{background:#fa2964;}
.container .standard{background:#fa2964;}
.inner-pages .top-headings h2{color:#fa2964;}
.inner-pages .port-info .btn{background:#fa2964;}
.inner-pages .widget-service-details ul li.active{background:#fa2964;}
.inner-pages .depar-title{background:#fa2964;}
.inner-pages .depart-list{border-bottom:1px solid #fa2964;}
.inner-pages .depart-list ul li .fa{color:#fa2964;}
.inner-pages .business-service .tags a{background:#fa2964;border:1px solid #fa2964;}
.inner-pages .business-service .tags a:hover{color:#fa2964;}
.inner-pages .business-service ul li a:hover{color:#fa2964;}
.inner-pages .widget-service-details h5::after{background-color:#fa2964;}
.inner-pages .opening-hours .opening .fa{color:#fa2964;}
.inner-pages .opening-list ul li{border-bottom:1px dotted #fa2964;}
.inner-pages .service-details h3::after{background-color:#fa2964;}
.wprt-image-video .icon-wrap{background-color:#fa2964;}
.inner-pages .portfolio .filters-group .active{background:#fa2964;}
.page-item.active .page-link{background:#fa2964;border-color:#fa2964;}
.page-link:hover{background:#fa2964;}
.inner-pages .form-control{border:1px solid #fa2964;}
.inner-pages .input-group-btn .btn-primary{background:#fa2964;border:1px solid #fa2964;}
.inner-pages .input-group-btn .btn-primary:hover{color:#fa2964;}
.inner-pages .recent-post .tags a{background:#fa2964;border:1px solid #fa2964;}
.inner-pages .recent-post .tags a:hover{color:#fa2964;}
.inner-pages .recent-post ul li a:hover{color:#fa2964;}
.inner-pages .widget h5::after{background-color:#fa2964;}
.inner-pages .comments-info h5{color:#fa2964;}
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after{background-color:#fa2964;}
.inner-pages .leve-comments .btn{background:#fa2964;border:1px solid #fa2964;}
.inner-pages .leve-comments .btn:hover{color:#fa2964;border:1px solid #fa2964;}
.inner-pages .contact-us .btn{background:#fa2964;border:1px solid #fa2964;}
.inner-pages .contact-us .btn:hover{border:1px solid #fa2964;}
.inner-pages .request h3::after{background-color:#fa2964;}
.inner-pages .call-info h3::after{background-color:#fa2964;}
.inner-pages .call-info ul li .fa{color:#fa2964;}
.team-content span a:hover{color:#fff;}
.who-we-are h2{color:rgba(32, 51, 100, 0.9);}
.inf-row .who-info-4 .fa{color:#fa2964;}
.sec-title-4 h2{color:#fa2964;}
.heading-5 .search-button{color:#fa2964;}
.heading-5 .bloq-search input[type="submit"]{background:#fa2964;}
.heading-5 .get-quote{background:#fa2964;}
.heading-5 #main-menu ul li a.active{background:#fa2964;}
.heading-5 #main-menu ul li a:hover{background:#fa2964;}
.counterup .title-style h2{color:#fa2964 !important;}
.heading-6 .search-button{color:#fa2964;}
.heading-6 .bloq-search input[type="submit"]{background:#fa2964;}
.heading-6 .get-quote{background:#fa2964;}
.heading-6 #main-menu ul li a.active{background:#fa2964;}
.heading-6 #main-menu ul li a:hover{background:#fa2964;}
.counterup .title-style h2{color:#fa2964 !important;}
.headings h2,
.headings-6 h2{color:#fa2964;}
.sec-title h2{color:#fa2964 !important;}